*.AppImage
*.desktop
*.lock
!/Cargo.lock
*builder/
*cache/
*og.txt
.cargo*
.flatpak/*
/.vs/
/CMakeUserPresets.json
/build-dir/
/builddir/
/out/
AppDir/
_build/
excludelist
keycord-search-provider.ini
keycord-search-provider.service
patches/
po/POTFILES.in
/data/
squashfs*
target/
vendor/
